{erl_opts, [debug_info]}.
{deps, []}.

{relx,
  [
    {
      release,{hub_v2, "0.0.1"},
      [syn, edate, lager, ksuid, enlfq, rocksdb, esq, cowboy, jiffy, emmap, inets, sasl, ssl, smshub, db_write]
    },
    {vm_args, "config/vm_prod.args"},
    {mode, prod}
  ]
}.

{shell, [
  {config, "config/sys.config"},
  {apps, [cowboy, syn,  mnesia, inets, ssl, lager, jiffy, hackney, smshub, db_write]}
]}.